<!doctype html>
<html lang="{{ site.lang }}">

<head>
  <meta charset="utf-8">
  <title>{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" href="favicon.ico" sizes="any">

  <script src="{{ site.baseurl }}/assets/uswds/dist/js/uswds-init.min.js"></script>
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/uswds/dist/css/styles.css" />
</head>

<body>
  <main id="main-content">
    {{ content }}
  </main>
  <script src="{{ site.baseurl }}/assets/uswds/dist/js/uswds.min.js"></script>
</body>

</html>